
.crd {
  width: 350px;
  padding: 10px;
  border: 1px;
  border-radius: 10px;
  margin: 20px;
  backdrop-filter: blur(0px); 
  
}
.Welcome-to{
  opacity: 0; /* Set initial opacity to 0 */
  animation: slideDown 1s ease-in-out forwards; /* Apply animation */
}
@keyframes slideDown {
  from {
      opacity: 0;
      transform: translateY(-50px); /* Start position above the final position */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* Final position */
  }
}
.pragraph-container {
  flex: 1;
  max-width: 800px;
  padding: 20px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  position: relative;
  font-size: 18px; 

}
.card-title {
  padding-bottom: 5px; 
  display: inline-block; 
  border-radius: 5px; 
  transition: color 0.3s; 
  
}

.card-titlee {
  color: #F9391A;
  padding-bottom: 5px; 
  display: inline-block;
  border-radius: 5px; 
  transition: color 0.3s; 
}
.Team-Members{

  opacity: 0; /* Set initial opacity to 0 */
  animation: slideDown 1s ease-in-out forwards; /* Apply animation */
}
.card-titlee:hover {
  color: #49525B; 
}

.card-title:hover {
  color: #49525B;
}

.wel {
  width: auto;
  padding: 10px;
  margin: auto;
  margin-top: 20px;
  justify-content: center;
  border: 5px;
  border-radius: 10px;
  backdrop-filter: blur(0px);
  text-align: left;
  font-family: "Helvetica", Arial, sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  
  
}
.pragraph-image {
  width: 400px;
  margin-left: 20px;
  border-radius: 4px;
}
.card-body:hover .social-links {
  bottom: 0;
}
.social-links {
  position: absolute;
  bottom: -100px;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  transition: bottom 0.3s ease;
}
.card-body {
  position: relative;
  overflow: hidden;
}
.github-link, .linkedin-link {
  margin: 0 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.card-body:hover .github-link, .card-body:hover .linkedin-link {
  opacity: 1;
}
.github-link .bi-github {
  color: #fff;
}